{% extends "base.html" %}

{% block title %}
Добавление записи
{% endblock %}

{% block body %}
    <h1 class="create">Добавление записи</h1>
    <br>
    <div class="forma1">
    <fieldset class="forma">
    <br>
    <form method="post">
        <input class="input1" type="text" name="title" size="30" placeholder="Введите заголовок статьи:"><br><br>
        <textarea class="area" type="text" name="intro" rows="5" placeholder="Введите вступительный текст:"></textarea><br><br>
        <textarea class="area" name="text" name="text" rows="30" placeholder="Введите текст статьи:"></textarea><br><br>
        <input class="get" type="submit" value="Отправить">
    </form>
    <br>
    </fieldset>
    </div>
{% endblock %}