{% extends "base.html" %}

{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
    <h1 class="create">Обновление статьи</h1>
    <br>
    <div class="forma1">
    <fieldset class="forma">
    <br>
    <form method="post">
        <input class="input1" type="text" name="title" size="30" value="{{ article.title }}" placeholder="Введите заголовок статьи:"><br><br>
        <input class="input1" type="text" name="intro" size="30" value="{{ article.intro }}" placeholder="Введите вступительный текст:"><br><br>
        <textarea class="input1" name="text" name="text" rows="30"  placeholder="Введите текст статьи:">{{ article.text }}</textarea><br><br>
        <input type="submit" value="Обновить">
    </form>
    <br>
    </fieldset>
    </div>
{% endblock %}